---
---

@import "{{ site.theme }}";

hr {
    border-top: 10px solid #8c8b8b;
}

div.button-box {
    text-align: center;
    width: 100%;
}

a.back-button {
    background-color: #155a95;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    text-align: center;
}