---
---

@import "{{ site.theme }}";

h5, h6 {
  font-size: 1.1rem;
}

.box {
  margin: 20px 10px 20px 10px;
  border-radius: 15px;
  padding: 20px;
}

span.box {
  display: block;
}

.warning {
  background-color: #FAC898;
  color: black;
}

.info {
  background-color: #A7C7E7;
  color: black;
}

.info a {
  color: #FF5733;
}