---
---

@import "{{ site.theme }}";

div.format-box {
    background-color: #d0dee9;
}

div.note-box {
    background-color: #ffffb2;
}

div.warning-box {
    background-color: #ffb2b2;
}

div.button-box {
    text-align: center;
    width: 100%;
}



a.btn {
    background-color: #155a95;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    text-align: center;
}